body{
    background-color: #151515;
    margin: 0;
    font-family: 'IBM Plex Mono', monospace;
}

.square{
    width: 30%;
    padding-bottom: 30%;
    margin: 1.66%;
    float: left;
    border-radius: 20%;
    transition: background 0.6s;
    -webkit-transition: background 0.6s;
    -moz-transition: background 0.6s;
}

#container{
    max-width: 600px;
    margin: 30px auto;
}

h1{
    text-align: center;
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.1;
    padding-bottom: 20px;
}

#colorDisplay{
    font-size: 100%;
    font-weight: 600;
    background-color: rgb(0, 0, 0);
    color: teal;
}

#navbar{
    background-color: rgb(0, 0, 0);
    height: 40px;
    color: teal;
    text-align: center;
}

.selected{
    background-color: teal;
    color: white;
}

button{
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: teal;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    outline: none;
}

#resultDisplay{
    display: inline-block;
    width: 30%;
    text-align: center;
}

button:hover{
    background-color: teal;
    color: white;
}

#heading{
    font-size: 600%;
    font-family: "saman";
}

@font-face {
    font-family: saman;
    src: url(samarkan.ttf);
  }

.header{
    background: url(test.jpg);
    width: 100%;
}
